<div class="container" *ngIf="despesa">
    <h1>Cadastro de Despesa</h1>
    <form (ngSubmit)="onSubmit(despesaForm)" #despesaForm="ngForm">
		<div class="form-group">
		  	<label>Tipo de Despesa
				<select class="form-control" id="tipoDespesa" name="tipoDespesa" required
			  		[(ngModel)]="despesa.tipo" #tipoDesp="ngModel">
			      <option *ngFor="let tipoDespesa of tiposDespesa" [value]="tipoDespesa.codigo">{{tipoDespesa.descricao}}</option>
			  	</select>
			</label>
		</div>
		<div class="form-group">
			<label>Descrição
				<input type="text" class="form-control" id="descricao" name="descricao" required  
					[(ngModel)]="despesa.descricao" #descricao="ngModel"/>
			</label>
			<div [hidden]="descricao.valid || descricao.pristine" class="alert alert-danger">Informar Descrição</div>
		</div>
		<button type="submit" class="btn btn-success" [disabled]="!despesaForm.form.valid">Gravar</button>
		<button type="button" class="btn btn-danger" (click)="excluiDespesa()">Excluir</button>
		<button type="button" class="btn btn-info" (click)="onVoltar()">Voltar</button>
    </form>
</div>